@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800");

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#ffffff, #f0f1ff);
  margin: 0px;
  /* overflow-x: hidden; */
}


.hero_img {
  display: none;
  width: 100%;
  height: auto;
}


/* Laptop view (desktop) */
@media (min-width: 1024px) {
 
.hero_img{
    display: block;
  }
   .mobile{
  display: none;
  }
  .tablet{
  display: none;
  }
.header {
  margin-top: 1.5rem;
  padding-inline: 4rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.btn_one {
  height: 56px;
  width: 167px;
  color: white;
  background-color: #13183f;
  border-radius: 28px;
  border: none;
  font-weight: 700;


}
.btn_one:hover{
   background-color:#666CA3;
   cursor: pointer;

}

.box1 {
  padding-inline: 3rem;
  size:56;
}

.skill {
  font-size: 56px;
  font-weight: 800;
  margin: 0;
  width: 457;
  height: 359;
}

.btn_two {
  height: 63px; 
  width: 167px;
  color: white;
  background-image: linear-gradient(#ff6f48, #f02aa6);
  border-radius: 30px;
  border: none;
}
.btn_two:hover{
  cursor: pointer;
  background-image: linear-gradient(#ff6f48, #f02aa6);
  opacity: 50%;
}

.hero_img {
  height: 640px;
  width: 641px;
  top: -92.13;
  left:425px;

}

.group {
  margin-block: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.box1 {
  margin-top: 1.5rem;
  padding-inline: 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: start;
}

.card {
  width: 339px;
  height: 283px;
  border-radius: 10px;
  padding: 1rem;
  background-color: #ffffff;
  position:relative;
}

.card a {
  text-decoration: none;
  color: #f74780;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
  justify-items: center;
  gap: 50px 20px;
}
.foot {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #13183f;
  padding-left: 54px;
  padding-right: 54px;
  height: 120px
}

.btn_three {
  height: 48px;
  width: 140px;
  color: white;
  border-radius: 28px;
  background-image: linear-gradient(#4851ff, #f02aa6);
  border: none;
}
.btn_three:hover{
  background-image: linear-gradient( #9ca0f9, #f5b0dc);
  cursor: pointer;
}

.img {
  height: 30px;
  color: #ffffff;
  padding-inline: 3rem;
  font-weight: bolder;
  font-size: 25px;
}

.check {
  background-image: linear-gradient(#ff6f48, #f02aa6);
  padding: 1rem;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 800;
  font-size: 30px;
  width: 300px;
  height: 243px;
}
.icon{
  position: absolute;
  top: 1px;
  left: 15px;
  right:110px;
  transform: translate(10%, -50%);
}
}








/* for phone*/
@media (max-width: 600px) {

 .mobile{
  display: block;
}
 .tablet{
  display: none;
  }
   .hero_img{
    display: none;
  }

.header {
  margin-top: 1rem;
  padding-inline: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 30px;
}

.btn_one {
  height: 48px;
  width: 140px;
  /* left: 549px; */
  color: white;
  background-color: #13183f;
  border-radius: 28px;
  border: none;
  font-weight: 700;


}
.btn_one:hover{
   background-color:#666CA3;
   cursor: pointer;

}

.skill {
  font-size: 56px;
  font-weight: 800;
  margin: 0;
  width: 457;
  height: 359;
}

.btn_two {
  height: 56px; 
  width: 167px;
  color: white;
  background-image: linear-gradient(#ff6f48, #f02aa6);
  border-radius: 30px;
  border: none;
}
.btn_two:hover{
  cursor: pointer;
  background-image: linear-gradient(#ff6f48, #f02aa6);
  opacity: 50%;
}

.hero_img {
  height: 900px;
  width: 930px;
  top:-146px;
  left:784px;
}

.group {
  margin-block: 2.5rem;
  display: block;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.box1 {
  margin-top: 1.5rem;
  padding-inline: 2rem;
  display: block;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}

.card {
  width: 343px;
  height: 259px;
  border-radius: 10px;
  padding: 0.8rem;
  background-color: #ffffff;
  position:relative;
}

.card a {
  text-decoration: none;
  color: #f74780;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  justify-items: center;
  gap: 50px 20px;
}
.foot {
  margin-top: 6rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #13183f;
  padding-left: 64px;
  padding-right: 64px;
  height: 120px
}

.btn_three {
  height: 48px;
  width: 140px;
  color: white;
  border-radius: 28px;
  background-image: linear-gradient(#4851ff, #f02aa6);
  border: none;
}
.btn_three:hover{
  background-image: linear-gradient( #9ca0f9, #f5b0dc);
  cursor: pointer;
}

.img {
  height: 25px;
  color: #ffffff;
  padding-inline: 1rem;
  font-weight: bolder;
  font-size: 25px;
}

.check {
  background-image: linear-gradient(#ff6f48, #f02aa6);
  padding: 0.8rem;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  color: #ffffff;
  font-weight:800px;
  font-size: 25px;
  width: 343px;
  height: 150px;
}
.icon{
  position: absolute;
  top: 1px;
  left: 20px;
  right:120px;
  transform: translate(10%, -50%);
}
}







/* for tablet*/
@media (min-width: 601px) and (max-width: 1023px) {

 .tablet{
  display: block;
}
 .mobile{
  display: none;
  }
   .hero_img{
    display: none;
  }

.header {
  margin-top: 1rem;
  padding-inline: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 35px;
}

.btn_one {
  height: 48px;
  width: 140px;
  /* left: 549px; */
  color: white;
  background-color: #13183f;
  border-radius: 28px;
  border: none;
  font-weight: 700;


}
.btn_one:hover{
   background-color:#666CA3;
   cursor: pointer;

}

.skill {
  font-size: 56px;
  font-weight: 800;
  margin: 0;
  width: 457;
  height: 359;
}

.btn_two {
  height: 56px; 
  width: 167px;
  color: white;
  background-image: linear-gradient(#ff6f48, #f02aa6);
  border-radius: 30px;
  border: none;
}
.btn_two:hover{
  cursor: pointer;
  background-image: linear-gradient(#ff6f48, #f02aa6);
  opacity: 50%;
}

.hero_img {
  height: 900px;
  width: 930px;
  top:-146px;
  left:784px;
}

.group {
  margin-block: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.box1 {
  margin-top: 1.5rem;
  padding-inline: 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: start;
}

.card {
  width: 343px;
  height: 283px;
  border-radius: 12px;
  padding: 1rem;
  background-color: #ffffff;
  position:relative;
}

.card a {
  text-decoration: none;
  color: #f74780;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  justify-items: center;
  gap: 50px 20px;
}
.foot {
  margin-top: 6rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #13183f;
  padding-left: 64px;
  padding-right: 64px;
  height: 120px
}

.btn_three {
  height: 56px;
  width: 167px;
  color: white;
  border-radius: 28px;
  background-image: linear-gradient(#4851ff, #f02aa6);
  border: none;
}
.btn_three:hover{
  background-image: linear-gradient( #9ca0f9, #f5b0dc);
  cursor: pointer;
}

.img {
  height: 25px;
  color: #ffffff;
  padding-inline: 2rem;
  font-weight: bolder;
  font-size: 25px;
}

.check {
  background-image: linear-gradient(#ff6f48, #f02aa6);
  padding: 1rem;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 12px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 30px;
  width: 343px;
  height: 283px;
}
.icon{
  position: absolute;
  top: 1px;
  left: 20px;
  right:120px;
  transform: translate(10%, -50%);
}
}

